
* {
  box-sizing: border-box;
}
body{
    background: #222;
}
h4{
    width: max-content;
    margin:auto;
    text-align:center;
    font-size: 3em;
    background-color: rgb(62, 59, 59);
    border-radius: 10px;
}

.key{
    position:relative;
    float:left;
    border-radius:5px 5px 5px 5px;
    border:1px solid #000;
    
}

.white{
    height:18em;
    width:4em;
    margin:1em 0 -1em -1em;
    z-index:1;
    background-color: white;
}
.f,.c{
    margin:1em 0 0 0;
}
.black{
  height:10em;
  width:2em;
  margin:1em 0 0 -1em;
  z-index:2;
  background:black
}
.white.inScale{
   background-color: rgb(158, 158, 158);
} 
.black.inScale{
   background-color: rgb(48, 48, 48);
} 
#piano{
    width: 58em;
    height: 20em;
    margin:auto;
}
#menu{
    text-align: center;

    margin:auto;
    padding:30px;
    background-color: rgb(62, 59, 59);
    border-radius: 10px;
    display:flex ;
    width:1000px
}
.panel{
    
    width: 30%;

    margin: auto;

    

}

#currentPitch{
    padding:22px;
    float: left;
    background-color: rgb(255, 255, 255);
    border-radius:5px 5px 5px 5px;
    border: none;
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.286);
    margin: 3px;

}
.btn{
    float: left;
    background-color: rgb(158, 158, 158);
    border-radius:5px 5px 5px 5px;
    border: none;
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.286);
    margin: 3px;
}
.half{
    margin-bottom:0px;
    height: 28px;
}
.btn:active{
    font-weight: bold;

    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.179);
}
.btn.active{
    font-weight: bold;
    background-color: white;
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.179);
}
.activeChord{
    font-weight: bold;
    background-color: white;
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.179);
}
.inChord{
    background-color: rgb(147, 111, 178)!important; 
}